<%- include("../partials/header") %>
<div class="container">
<header class="jumbotron">
	<h1>
	This is the campgrounds Page!
</h1>
	<p>
		View the most handpicked campgrounds from across the world!!!!
	</p>
	<p>
		<a href="/campgrounds/new"><button class="btn btn-primary btn-large">Add new Campground
			</button></a>
	</p>
</header>
</div>	

<div class="container">
<div class="row">
	<div class="col-lg-12">
			<h3>The most popular site for campgrounds.</h3>
	</div>
</div>
</div>

<!-- generate images -->
<div class="container">
   <% for(var i=0;i<campgrounds.length;i++){ %>

	<!-- groups -->
	
	<div class="card-group" class="float-left" style="width:30%">
		<div class="card">
		  <img src="<%= campgrounds[i].image %>" class="card-img-top" alt="Image">
		  <div class="card-body">
			<h5 class="card-title"><%= campgrounds[i].name %></h5>
			<p class="card-text"><%= campgrounds[i].description.substring(0,80) %></p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			<a href="/campgrounds/<%= campgrounds[i]._id %>" class="btn btn-primary">More Info</a>
		  </div>
		</div>
	</div>
   <% } %>
</div>

<%- include("../partials/footer") %>















